# Комментарии начинаются с символа #

# Игнорирование всех файлов с расширением .log
*.log

# Игнорирование конкретной папки
venv/

# Игнорирование конкретного файла
print(111).py

# Игнорирование всех файлов с расширением .pyc
*.pyc

# Игнорирование всех файлов в папке build/, кроме файла README.md
build/*
!build/README.md